:root{
    --fuente: 'Roboto', sans-serif;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: var(--fuente);
}

body{
    font-size: 1.6rem;
}

.input-conteiner{
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.generic-conteiner{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
    max-width: 900px;

}

.generic-conteiner h2{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.legend{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.bar{
    width: 800px;
    left: 55px;
    height: 1px;
    position: absolute;
    border: #000 dashed 1px;
    top: 90px;
}

.generic-graph{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-size: cover;
}

/* Codificacion NZR */
.cero{
    background-image: url(../img/nrz/0.png);
}

.cero-uno{
    background-image: url(../img/nrz/01.png);
}

.uno{
    background-image: url(../img/nrz/1.png);
}

.uno-cero{
    background-image: url(../img/nrz/10.png);
}

/* Codificación AMI */
.ami-cero{
    background-image: url(../img/ami/0.png);
}

.ami-cero-unoa{
    background-image: url(../img/ami/01a.png);
}

.ami-cero-unob{
    background-image: url(../img/ami/01b.png);
}

.ami-unoa-unob{
    background-image: url(../img/ami/1a1b.png);
}

.ami-unob-unoa{
    background-image: url(../img/ami/1b1a.png);
}

.ami-unoa-cero{
    background-image: url(../img/ami/1a0.png);
}

.ami-unob-cero{
    background-image: url(../img/ami/1b0.png);
}

/* Codificación Manchester */
.manchester-cero{
    background-image: url(../img/manchester/0.png);
}

.manchester-uno{
    background-image: url(../img/manchester/1.png);
}

.manchester-cero-cero{
    background-image: url(../img/manchester/00.png);
}

.manchester-uno-uno{
    background-image: url(../img/manchester/11.png);
}

/* Codificación Manchester diferencial */
.manchester-dif-cero-d{
    background-image: url(../img/manchester_dif/0d.png);
}

.manchester-dif-cero-u{
    background-image: url(../img/manchester_dif/0u.png);
}

.manchester-dif-uno{
    background-image: url(../img/manchester_dif/1.png);
}

.manchester-dif-uno-uno{
    background-image: url(../img/manchester_dif/11.png);
}